@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    color:black;
    margin-bottom: 0%;
    margin: 0%;
    padding: 0%
}
#screen{
    background-image: url(./assets/images/mistyMountain.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll
}
.card{
    background-color:#f5f5f580;
}
#about{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#header{
    font-family : 'Courier New', Courier, monospace;
}

#bandcamp{
    background-image: url(https://il6.picdn.net/shutterstock/videos/10452776/thumb/1.jpg);
}

.black-border{
    border:solid;
    border-color: black !important
}
button{
    border-color: black !important;

    border:solid;
    text-align: center;
    width: 10rem;
    background-color: #ebecf0;
    border-radius: 9999px;
    
}


.navBtn{
    
    text-align: center;
    border:solid;
    width: 10rem;
    background-color: #ebecf0;
    border-radius: 9999px;
    

}
.icon{
height: auto;
width: 2rem;
}

#projectsSections::-webkit-scrollbar{
    background: transparent;
}